<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
header{
  display: flex;
  background-color: rgba(98, 98, 180, 0.772);
  padding-top: 550 px;
  font-size: 80px;
  justify-content: center;
}
html{
  background-image: url(https://img.freepik.com/free-vector/airport-runway-concept-illustration_114360-9564.jpg?t=st=1655782792~exp=1655783392~hmac=1b9bb01d9ca81b57182a03dcf4c2d03664ca97a3568b85d495024d1a8bec7fb2&w=2000);
}
</style>

<!-- <a href='https://www.freepik.com/vectors/airport'>Airport vector created by storyset - www.freepik.com</a> -->
<img src="https://img.freepik.com/free-vector/airport-runway-concept-illustration_114360-9564.jpg?t=st=1655782792~exp=1655783392~hmac=1b9bb01d9ca81b57182a03dcf4c2d03664ca97a3568b85d495024d1a8bec7fb2&w=2000" alt="">
<header>Aircraft Manager</header>
<!-- Toolbar -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

