@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');








header{
  display: flex;
  background-color: rgba(98, 98, 180, 0.772);
  padding-top: 550 px;
  font-size: 90px;
  justify-content: center;
  background-image: src(\Side-Projects\my-app\src\assets\7014660.jpg);
  background-size: auto;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}


