*{
    padding: 0;
    margin: 0;
}
#flappy-bird{
    width: 400px;
    height: 500px;
    border: 2px solid black;
    margin: auto;
    overflow: hidden;
    background-color: rgb(113,196,210);
}
#pipe{
    width: 50px;
    height: 500px;
    background-color: rgb(117,190,47);
    border: 2px solid black;
    position: relative;
    left: 400px;
    animation: block 2s infinite linear;
}
@keyframes block{
    0%{left: 400px;}
    100%{left: -50px;}
}
#gap{
    width: 54px;
    height: 150px;
    background-color: rgb(113,196,210);
    position: relative;
    left: 400px;
    top: -500px;
    animation: block 2s infinite linear;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#player{
    width: 20px;
    height: 20px;
    background-color: rgb(242,233,45);
    position: absolute;
    top: 100px;
    border-radius: 50%;
    border: 1px solid black;
    
}